<!-- Services Section -->
    <section id="services">
        <div class="section-header">
            <div sclass="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Principais Serviços</h2>
                    <h3 class="section-subheading text-muted">Tudo começa com uma idéia e toda idéia precisa de uma estrutura</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 col-md-4--nostack">
                    <div class="service-card">
                        <!-- <a data-toggle="modal" href="#serviceModal1"> -->
                            <!-- <span class="fa-stack fa-4x"> -->
                            <!-- <i class="service-circle fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i> -->
                            <img class = "service-icon" src="{{ site.baseurl }}/img/services/icon_design.png">
                            <!-- </span> -->
                        <!-- </a> -->
                        <h4 class="service-heading">Design de Marca</h4>
                        <!-- <p class="text-muted">Realizamosasaokdoaod.</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-md-4--nostack">
                    <div class="service-card">
                        <!-- <a data-toggle="modal" href="#serviceModal2"> -->
                            <img class = "service-icon" src="{{ site.baseurl }}/img/services/icon_social.png">
                        <!-- </a> -->
                        <h4 class="service-heading">Gestão de Redes Sociais</h4>
                    </div>
                </div>
                <div class="col-md-4 col-md-4--nostack">
                    <div class="service-card">
                        <!-- <a data-toggle="modal" href="#serviceModal3"> -->
                            <img class = "service-icon" src="{{ site.baseurl }}/img/services/icon_print.png">
                        <!-- </a> -->
                        <h4 class="service-heading">Design Gráfico e Impressos</h4>
                    </div>
                </div>
                <div class="col-md-4 col-md-4--nostack">
                    <div class="service-card">
                        <!-- <a data-toggle="modal" href="#serviceModal1"> -->
                            <!-- <span class="fa-stack fa-4x"> -->
                            <!-- <i class="service-circle fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i> -->
                            <img class = "service-icon" src="{{ site.baseurl }}/img/services/icon_sites.png">
                            <!-- </span> -->
                        <!-- </a> -->
                        <h4 class="service-heading">Websites e Hospedagens</h4>
                        <!-- <p class="text-muted">Realizamosasaokdoaod.</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-md-4--nostack">
                    <div class="service-card">
                        <!-- <a data-toggle="modal" href="#serviceModal2"> -->
                            <img class = "service-icon" src="{{ site.baseurl }}/img/services/icon_dev.png">
                        <!-- </a> -->
                        <h4 class="service-heading">Desenvolvimento</h4>
                    </div>
                </div>
                <div class="col-md-4 col-md-4--nostack">
                    <div class="service-card">
                        <!-- <a data-toggle="modal" href="#serviceModal3"> -->
                            <img class = "service-icon" src="{{ site.baseurl }}/img/services/icon_campaign.png">
                        <!-- </a> -->
                        <h4 class="service-heading">Campanhas e Consultoria</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>